

body {
    background-color: blanchedalmond; 
    font-family: 'Courier New', Courier, monospace;
}

img { 
    display: inline-block;
    width: 450px;
    height: 450px;
    padding: 12%;
  }

h1 {
    color:black; 
    text-align: center;
}

p {
    color:black; 
    text-align: center;
}